section {
    background-color: black;
    display: flex;
    justify-content: center;
    color: #fff;
  }
  
  .box {
    padding: 20px 15px 20px 15px;
    font-size: 3rem;
    background-color: #222;
    border-radius: 10px;
    margin: 10px;
  }
  
  .start {
    cursor: pointer;
  }